.bg{
    background-color: rgb(33, 33, 33)  ;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 60px;
}
.im{
    height: 35px;
    margin-right: 2px;
}
.img{
    margin-right: 1rem;

    color: goldenrod;
    font-family: sans-serif;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left div{
        padding:0.3rem;
}
.s{
    color: green;
    margin-right: 20px;
}
.l{
    color: red;
    margin-right: 20px;
}
